<br>
<br>

<div class="container pt-lg-md">
    <div class="row input-container">
        <h1 style="color: black;">Contact Us</h1> &nbsp;
    </div>
    <div class="row input-container">
        <br>
        <div class="col-xs-12">
            <div class="styled-input wide">
                <input type="text" required />
                <label>Name</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input type="text" required />
                <label>Email</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="styled-input" style="float:right;">
                <input type="text" required />
                <label>Phone Number</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="styled-input wide">
                <textarea required></textarea>
                <label>Message</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-lrg submit-btn">Send Message</div>
        </div>
    </div>
</div>>

<br>
<br>
<br>