<section class="section pb-0 section-components">
  <div class="container mb-5">
    <!-- Inputs -->
    <h3 class="h4 text-success font-weight-bold mb-4">Covid Care & Protection</h3>
    <div class="row">
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img src="../../../assets/img/fast&up.jpg" width="200" height="200" alt="Product" />
          </div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>Immunity Booster</span>
            </div>
            <div class="title-product">
              <h4>FAST&UP</h4>
            </div>
            <div class="description-prod">
              <p>Purest, High Quality L-Carnitine Tartrate 1000mg with Fast Absorption & Action.</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left"><span class="price">₹ 1000</span></div>
              <div class="wcf-right">
                <button class="add-to-cart">
                  <div class="default">Add Item</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img"><img src="../../../assets/img/immunitybooster.jpg" width="200" height="200" alt="Product" />
          </div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>Immunity Booster</span>
            </div>
            <div class="title-product">
              <h4>Dabur Giloy Neem Tulsi Juice</h4>
            </div>
            <div class="description-prod">
              <p>As per Ayurveda, Giloy possesses Rasayana properties. Giloy is an adaptogen that helps reduce stress
                and fatigue, which are regarded as main root cause of all lifestyle disorders.</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left"><span class="price">₹ 750</span></div>
              <div class="wcf-right">
                <button class="add-to-cart">
                  <div class="default">Add Item</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img"><img src="../../../assets/img/GNCBiotinTablets.jpg" width="200" height="200"
              alt="Product" /></div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>Immunity Booster</span>
            </div>
            <div class="title-product">
              <h4>GNC Biotin 10000 mcg, 90 Tablets</h4>
            </div>
            <div class="description-prod">
              <p> supplement daily dose of biotin to the body</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left"><span class="price">₹ 300</span></div>
              <div class="wcf-right">
                <button class="add-to-cart">
                  <div class="default">Add Item</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img"><img src="../../../assets/img/bloodpressuremontior.jpg" width="300" height="200"
              alt="Product" /></div>
          <div class="wsk-cp-text">
            <div class="category">
              <span>Blood Pressure Monitor</span>
            </div>
            <div class="title-product">
              <h4>Dr Trust Pulse Oximeter</h4>
            </div>
            <div class="description-prod">
              <p>Automatic Blood Pressure monitoring device that is made with IntelliSense Technology</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left"><span class="price">₹ 500</span></div>
              <div class="wcf-right">
                <button class="add-to-cart">
                  <div class="default">Add Item</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>