<br>
<br>
<br>
<br>
<br>

<div class="container">
    <h1 style="font-weight:300">Cart</h1>
    <div class="cart-table">

        <div class="row cart-row">
            <div class="col-xs-12 col-md-2">
                <img src="../../assets/img/sanitizer.jpg" width="100%">
            </div>
            <div class="col-md-6">
                <div class="product-articlenr">#643489</div>
                <div class="product-name">Hand Sanitizer</div>
                <div class="product-options"><span>Color:</span> White<br><span>Size:</span> 500ML</div>
                <div class="product-price">
                    <input type="text" name="quantity[4]" value="1" size="1" class="form-control">
                    <button type="submit" data-toggle="tooltip" title="Uppdatera" class="update"><i
                            class="fas fa-sync"></i></button>
                    <div class="product-price"><small>x</small> 490 Rupees</div>
                </div>
            </div>
            <div class="col-md-3 cart-actions">
                <div class="product-price-total">490 Rupees</div>
                <div class="product-delete">
                    <button type="button" data-toggle="tooltip" title="Remove Item" class="delete"
                        onclick="cart.remove('5');"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div><!-- cart-row-->

        <div class="row cart-row">
            <div class="col-xs-12 col-md-2">
                <img src="../../assets/img/faceshield.jpg" width="100%">
            </div>
            <div class="col-md-6">
                <div class="product-articlenr">#643489</div>
                <div class="product-name">Face Shield</div>
                <div class="product-options"><span>Color:</span> Grey<br><span>Size:</span> M</div>
                <div class="product-price">
                    <input type="text" name="quantity[4]" value="1" size="1" class="form-control">
                    <button type="submit" data-toggle="tooltip" title="Uppdatera" class="update"><i
                            class="fas fa-sync"></i></button>
                    <div class="product-price"><small>x</small> 600 Rupees</div>
                </div>
            </div>
            <div class="col-md-3 cart-actions">
                <div class="product-price-total">600 Rupees</div>
                <div class="product-delete">
                    <button type="button" data-toggle="tooltip" title="Remove Item" class="delete"
                        onclick="cart.remove('5');"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div><!-- cart-row-->

        <div class="row cart-row">
            <div class="col-xs-12 col-md-2">
                <img src="../../assets/img/facemask.jpg" width="100%">
            </div>
            <div class="col-md-6">
                <div class="product-articlenr">#643489</div>
                <div class="product-name">Face Mask</div>
                <div class="product-options"><span>Color:</span> Grey<br><span>Size:</span> L</div>
                <div class="product-price">
                    <input type="text" name="quantity[4]" value="10" size="1" class="form-control">
                    <button type="submit" data-toggle="tooltip" title="Uppdatera" class="update"><i
                            class="fas fa-sync"></i></button>
                    <div class="product-price"><small>x</small> 50 Rupees</div>
                </div>
            </div>
            <div class="col-md-3 cart-actions">
                <div class="product-price-total">500 Rupees</div>
                <div class="product-delete">
                    <button type="button" data-toggle="tooltip" title="Remove Item" class="delete"
                        onclick="cart.remove('5');"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div><!-- cart-row-->

        <div class="row cart-row">
            <div class="col-xs-12 col-md-2">
                <img src="../../assets/img/disinfectant.jpg" width="100%">
            </div>
            <div class="col-md-6">
                <div class="product-articlenr">#643489</div>
                <div class="product-name">Liquid DisInfectant</div>
                <div class="product-options"><span>Color:</span> Blue<br><span>Size:</span> L</div>
                <div class="product-price">
                    <input type="text" name="quantity[4]" value="2" size="1" class="form-control">
                    <button type="submit" data-toggle="tooltip" title="Uppdatera" class="update"><i
                            class="fas fa-sync"></i></button>
                    <div class="product-price"><small>x</small>250 Rupees</div>
                </div>
            </div>
            <div class="col-md-3 cart-actions">
                <div class="product-price-total">500 Rupees</div>
                <div class="product-delete">
                    <button type="button" data-toggle="tooltip" title="Remove Item" class="delete"
                        onclick="cart.remove('5');"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div><!-- cart-row-->


        <div class="row cart-special-holder">
            <div class="col-md-12">
                <div class="cart-special">
                    <div class="cart-special-content">Add 2 more items and get 25% discount!!</div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>