<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Personal Protective Equipment
                <span>for COVID-19!</span>
              </h1>
              <p class="lead  text-white">CovidKart is committed to supporting the public health and government response
                to the
                COVID-19 pandemic. CovidKart has ramped up production at its manufacturing facilities around the world
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <img src="../../assets/img/products/facemask.png" width="50" height="60" alt="">
                  </div>
                  <h6 class="text-primary text-uppercase">Face Mask </h6>
                  <p class="description mt-3">It is an essential thing you must carry before stepping outside of the
                    house. The face mask helps to keep you away from respiratory infections arriving from others. </p>

                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <img src="../../assets/img/products/face-shield-on-head.png" width="60" height="60" alt="">
                  </div>
                  <h6 class="text-success text-uppercase">Face Shield </h6>
                  <p class="description mt-3">Like a face mask, the face shield is a hindrance to helping your
                    respiratory system clear from foreign bodies.Wearing a mask or shield is protect you. </p>

                  <a href="javascript:void(0)" class="btn btn-success mt-4">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <img src="../../assets/img/products/hand-sanitizer.jpg" width="50" height="60" alt="">
                  </div>
                  <h6 class="text-warning text-uppercase">Hand Sanitizer </h6>
                  <p class="description mt-3">In this pandemic, hand sanitiser catches the eye of everyone. Sanitiser
                    should be at your home as well as with you while you are outside of your house. </p>

                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <img src="../../assets/img/products/thermometer.png" width="50" height="60" alt="">
                  </div>
                  <h6 class="text-primary text-uppercase">Infrared Thermometer </h6>
                  <p class="description mt-3">Having a high-grade fever is one of the common symptoms of
                    coronavirus with a cough. A thermometer is essential product to measure high temperature.
                    Measuring a body temperature from a distance provides safety from virus
                    contamination.</p>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <img src="../../assets/img/products/oximeter.jpg" width="50" height="60" alt="">
                  </div>
                  <h6 class="text-success text-uppercase">Pulse Oximeter </h6>
                  <p class="description mt-3">Well, thanks to coronavirus. Because of this, we are able to know about
                    the pulse oximeter-a hospital gadget. Breathlessness and a low level of oxygen are early symptoms
                    and signs of COVID-19.</p>

                  <a href="javascript:void(0)" class="btn btn-success mt-4">Add to Cart</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <img src="../../assets/img/products/disinfectant-spray.jpg" width="50" height="60" alt="">
                  </div>
                  <h6 class="text-warning text-uppercase">Disinfectant Spray </h6>
                  <p class="description mt-3">Disinfectant sprays are necessary to clean your cellphones, car doors,
                    bike handles, vegetable baskets, etc. You can use it easily to clean any surface which might be
                    exposed.You can keep them in your car or purse and use them frequently. </p>

                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>