<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <section>
          <h6>About</h6>
        </section>
        <p class="text-justify">CovidKart.com is an initiative to help the people stay safe with their loved ones.
          CovidKart focuses on providing the best of the safety products at their doorstep.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <section>
          <h6>Services</h6>
        </section>
        <ul class="footer-links">
          <li><a href="#">Lab Test</a></li>
          <li><a href="#">PPE Kits</a></li>
          <li><a href="#">Personal Care Products</a></li>
          <li><a href="#">Health Checkup</a></li>
          <li><a href="#">Online Consultation</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <section>
          <h6>Quick Links</h6>
        </section>
        <ul class="footer-links">
          <li><a [routerLink]="['/about-us']">About Us</a></li>
          <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
          <li><a [routerLink]="['/our-story']">Our Story</a></li>
          <li><a [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
          <a href="#">CovidKart</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#" aria-label="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#" aria-label="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="#" aria-label="linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>